<link rel="stylesheet" href="assets/backend/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<section class="content-header">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header">
          Banner Management
        </div>
        <form [formGroup]="bannerForm" (ngSubmit)="saveBanner()">
            <div class="card-body">
              <input type="text" formControlName="id" class="hilang" />
              <div class="form-group">
                    <label for="banner_title">Banner Title</label>
                    <input  type="text" 
                            id="banner_title" 
                            pInputText 
                            placeholder="Insert site name here..." 
                            class="form-control" 
                            formControlName="banner_title"/>   
              </div>
              <div class="form-group">
                    <label for="banner_description">Banner Description</label>
                    <textarea 
                              id="banner_description" 
                              rows="10" 
                              cols="30" 
                              class="form-control"
                              pInputTextarea 
                              autoResize="autoResize" 
                              placeholder="Insert Address heree"
                              formControlName="banner_description"></textarea> 
              </div>
              <div class="form-group">
                <label for="banner_button_link">Banner Button Link</label>
                <input  type="text" 
                  id="banner_button_link" 
                  pInputText 
                  placeholder="Insert No. Telp here..." 
                  class="form-control" 
                  formControlName="banner_button_link">   
            </div>
              <div class="form-group">
                <label for="banner_image">Banner Image</label>
                    <div class="custom-file">
                        <input  type="file" 
                                class="custom-file-input" 
                                id="banner_image" 
                                (change)="selectFile($event, 'banner_image')"
                                accept="image/x-png,image/jpeg">
                        <input type="text" formControlName="banner_image" style="display: none;"/>
                        <label class="custom-file-label" for="banner_image">Choose file</label>
                    </div>  
                        <img [src]="logoBannerUrl" *ngIf="logoBannerUrl != null" width="300px" height="300px" />
              </div>
             <button
                    type="submit" 
                    class="btn btn-icon icon-right btn-primary"
                    [disabled]="!bannerForm.valid">
                    <i class="far fa-save"></i> Save</button>
                 &nbsp;
            </div>
        </form>
      </div>
  </div>
</section>