<link rel="stylesheet" href="../../../assets/backend/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<section class="content-header">
  <div class="container-fluid">

    <!-- general form elements -->
    <div class="card">
      <div class="card-header">
        Feature Management
      </div>
      <!-- form start -->
      <form [formGroup]="productForm" (ngSubmit)="createProduct()">
        <div class="card-body">
          <div class="form-group">
            <label for="product_name">Product Name<sup class="text-danger">*</sup></label>
            <input type="text" formControlName="id" class="hilang"/>
            <input  type="text" 
                   id="product_name" 
                   class="form-control" 
                   formControlName="product_name"
                   placeholder="Enter Name here..."
                   [class.is-invalid]="product_name.invalid &&
                   product_name.touched">   
              <div *ngIf="product_name.invalid && product_name.touched">
              <small *ngIf="product_name.errors?.required" class="text-danger">Name Required</small>
              </div>  
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <app-ngx-editor
                [placeholder]="'Enter Description here...'" 
                [spellcheck]="true" 
                formControlName="product_description"
                height="100px"></app-ngx-editor>
            <div *ngIf="product_description.invalid && product_description.touched">
            <small *ngIf="product_description.errors?.required" class="text-danger">Description Required</small>
            </div>  
        </div>
        <div class="form-group">
          <label for="product_price">Price</label>
          <input  type="number" 
                  id="product_price" 
                  class="form-control" 
                  formControlName="product_price"
                  placeholder="Enter Name here..."
                  [class.is-invalid]="product_price.invalid &&
                  product_price.touched">   
          <div *ngIf="product_price.invalid && product_price.touched">
          <small *ngIf="product_price.errors?.required" class="text-danger">Price Required</small>
          </div>  
      </div>
          <div class="form-group">
            <label for="product_image">Features Image</label>
                <div class="custom-file">
                <input  type="file"
                        class="custom-file-input"
                        id="product_image"
                        (change)="selectFile($event)">
                <input type="text" formControlName="product_image" style="display: none;"/>
                <label class="custom-file-label" for="product_image">Choose file</label>
                </div>  
                <div class="progress mb-3 mt-2" *ngIf="progress.percentage > 0">
                <div  class="progress-bar"
                        role="progressbar"
                        attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{width:progress.percentage+'%'}">{{progress.percentage}}%</div>
                </div>
                <img [src]="imgUrl" *ngIf="imgUrl != null" width="300px" height="300px" />
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button class="btn btn-primary" 
              type="submit"
              [disabled]="!productForm.valid">
              <i class="far fa-save"></i>
              Save
              </button>
              &nbsp;
              <a (click)="resetForm()"  class="btn btn-default">
              <i class="fas fa-undo"></i>        
              Reset
              </a>
        </div>
      </form>
    </div>
    <!-- /.card -->

    <div class="card card-primary">
      <div class="card-body">
        <table id="productDatatables" class="table table-striped dataTable no-footer">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Product Description</th>
              <th>Product Price</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>