<link rel="stylesheet" href="../../../assets/backend/adminlte/dataTables.bootstrap4.css">

<section class="content-header">
    <div class="container-fluid">
        <!-- general form elements -->
        <div class="card">
          <div class="card-header">
            Contact Detail
          </div>
          <!-- form start -->
            <div class="card card-primary">
              <div class="card-body">
                <table id="contactDatatables" class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>