<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-transparent" (scroll)="onWindowScroll($event);">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <a class="brand">{{ websetting?.web_tittle }}</a>
      </ul>
  </div>
  <div class="mx-auto order-0">
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngFor="let menu of ListMenu">
              <a class="nav-link" href="{{ menu.menu_link }}">{{ menu.menu_name }}</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      <div class="bground" [ngStyle]="{'background-image': 'url(' + bannerUrl + ')'}">
        <div class="position-relative overflow-hidden p-3 p-md-12 m-md-12 text-left bg-transparent">
          <div class="col-md-12 p-lg-12 my-12 pull-left">
            <h1 class="display-4 font-weight-normal">{{ Listbanner?.banner_title }}</h1>
            <p class="lead font-weight-normal">{{ Listbanner?.banner_description }}</p>
            <a class="btn btn-primary" href="#">Coming soon</a>
          </div>
        </div>
        </div>
  </div>
</div>


<div class="container-fluid">
      <div class="row">
        <div class="spacing1">
        <div class="feature-wrap shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-3" [ngClass]="{'offset-md-2': i === 0 }" *ngFor="let features of Listfeature; let i = index">
          <img class="feature-image" src="{{ image_url + features.feature_image }}" width="72px" height="72pxy"><br>
          <div class="feature-header">
            <span class="feature-text">
              {{ features.feature_description }}
            </span>
          </div>
        </div>
      </div>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="spacing2">
      <div class="product-wrap shadow p-3 mb-5 bg-white rounded">
        <div class="col-lg-4" *ngFor="let products of Listproduct">
          <img class="product-background" src="{{ image_url + products.product_image }}">
              <div class="product-header">
                &nbsp;
                <h3>
                  {{ products.product_name }}
                </h3>
                <h4>
                  Rp. {{ products.product_price }}
                </h4>
                <p>
                  {{ products.product_description }} <br>
                </p>
                <div>
                <button class="btn btn-warning">Order now</button>
                </div><br>
              </div>
        </div>
      </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
     <div class="footer">
        <span>&copy; Rikky 2019. All right reserved.</span>
    </div>
  </div>
</div> -->
<!--start footer-->
<footer  class="container-fluid constructor-footer">
  <div class="container py-5">
      <div class="row">
          <div class="col-md-6">
             <span style="font-weight: bold">{{ websetting?.web_tittle }} Home</span>
              <ul class="list-unstyled mt-md-3 mt-5">
                  <p style="font-weight: bold;margin:4px;">Social Media</p>
                   <li class="social">
                     <a href="https://www.facebook.com/">
                     <img [src]="logoFbUrl" *ngIf="logoFbUrl != null" width="40px" height="40px" /></a>&nbsp;
                      <a href="https://www.instagram.com/">
                      <img [src]="logoIgUrl" *ngIf="logoIgUrl != null" width="40px" height="40px" /></a>&nbsp;
                      <a href="https://www.twitter.com/">
                       <img [src]="logoTwitUrl" *ngIf="logoTwitUrl != null" width="40px" height="40px" /></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <div class="footerList">
              <ul>
                  <span style="font-weight: bold">{{ websetting?.website_name }}</span>
                  <li style="font-weight: bold">
                      <a href="#" class="text-white" style="text-decoration:none"><i class="fa fa-address-book"></i>&nbsp;{{ websetting?.address }}</a></li>
                  <li style="font-weight: bold">
                      <a href="#" class="text-white" style="text-decoration:none"><i class="fa fa-phone">&nbsp;{{ websetting?.no_telp }}</i></a></li>
                  <li style="font-weight: bold">
                      <a href="#" class="text-white" style="text-decoration:none"><i class="fa fa-fax">&nbsp;{{ websetting?.no_fax }}</i></a></li>
                  <li style="font-weight: bold">
                    <a href="#" class="text-white" style="text-decoration:none"><i class="fa fa-envelope">&nbsp;{{ websetting?.email }}</i></a></li>
              </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!---end footer-->

<!--start copyright-->

<div class="container-fluid bg-dark text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12" style="height: 50px;display: flex;justify-content: center;align-items: center;">
              <span class="text-light">Copyright &copy; {{ websetting?.copyright }} 2019.</span>
          </div>
      </div>
  </div>
</div>
<!--end copyright-->