<link rel="stylesheet" href="assets/backend/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<section class="content-header">
  <div class="container-fluid">

    <!-- general form elements -->
    <div class="card">
      <div class="card-header">
        Feature Management
      </div>
      <!-- form start -->
      <form [formGroup]="featureForm" (ngSubmit)="createFeature()">
        <div class="card-body">
          <div class="form-group">
            <input type="text" formControlName="id" class="hilang"/>
            <label for="featureName">Features Name</label>
            <input type="text" class="form-control" id="featureName" placeholder="Enter feature name" formControlName="feature_name">
          </div>
          <div class="form-group">
            <label for="featureDescription">Features Description</label>
            <input type="text" class="form-control" id="featureDescription" placeholder="Enter feature description" formControlName="feature_description">
          </div>
          <div class="form-group">
            <label for="feature_image">Features Image</label>
                <div class="custom-file">
                <input  type="file"
                        class="custom-file-input"
                        id="feature_image"
                        (change)="selectFile($event)">
                <input type="text" formControlName="feature_image" style="display: none;"/>
                <label class="custom-file-label" for="feature_image">Choose file</label>
                </div>  
                <div class="progress mb-3 mt-2" *ngIf="progress.percentage > 0">
                <div  class="progress-bar"
                        role="progressbar"
                        attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{width:progress.percentage+'%'}">{{progress.percentage}}%</div>
                </div>
                <img [src]="imgUrl" *ngIf="imgUrl != null" width="300px" height="300px" />
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- /.card -->

    <div class="card card-primary">
      <div class="card-body">
        <table id="featureDatatables" class="table table-striped dataTable no-footer">
          <thead>
            <tr>
              <th>ID</th>
              <th>Feature Name</th>
              <th>Feature Description</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>