  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>{{ websetting?.web_tittle }} Information</h6>
          <ul class="footer-links">
            <li><a class="text-white" style="text-decoration:none" href="#"><i class="fa fa-address-book"></i>&nbsp;{{ websetting?.address }}</a></li>
            <li><a class="text-white" style="text-decoration:none" href="#"><i class="fa fa-phone">&nbsp;{{ websetting?.no_telp }}</i></a></li>
            <li><a class="text-white" style="text-decoration:none" href="#"><i class="fa fa-fax">&nbsp;{{ websetting?.no_fax }}</i></a></li>
            <li><a class="text-white" style="text-decoration:none" href="#"><i class="fa fa-envelope">&nbsp;{{ websetting?.email }}</i></a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
       <a href="https://bandingin.com/">{{ websetting?.copyright }}</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><img [src]="logoFbUrl" *ngIf="logoFbUrl != null" width="20px" height="20px" /></a></li>
            <li><a class="twitter" href="#"><img [src]="logoTwitUrl" *ngIf="logoTwitUrl != null" width="20px" height="20px" /></a></li>
            <li><a class="linkedin" href="#"><img [src]="logoIgUrl" *ngIf="logoIgUrl != null" width="20px" height="20px" /></a></li>  
          </ul>
        </div>
      </div>
    </div>
</footer>