/* Remove the navbar's default margin-bottom and rounded borders */ 
  /* Add a gray background color and some padding to the footer */
  .navbar-nav a{
    padding: 14px 10px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .navbar-nav a:hover {
    color: yellow;    
  }
  
  .toggle-nav a{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .toggle-nav a:hover {
    color: yellow;    
  }
  