<div class="container-fluid">
  <div class="row">
      <!-- <div class="bground" [ngStyle]="{'background-image': 'url(' + bannerUrl + ')'}" > -->
        <div class="bground">
        <div class="position-relative overflow-hidden p-3 p-md-12 m-md-12 text-left bg-transparent">
          <div class="col-md-12 p-lg-12 my-12 pull-left">
            <span class="name">
            <h1 class="display-4 font-weight-normal">E A T</h1>
            <p class="lead font-weight-normal">O R</p>
            <h1 class="display-4 font-weight-normal">E A T E D</h1>
            </span>
          </div>
        </div>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="1" d="M0,288L480,128L960,320L1440,224L1440,0L960,0L480,0L0,0Z"></path>
        </svg>
  </div>
</div>