<div class="container-fluid">
  <div class="row">
      <!-- <div class="bground" [ngStyle]="{'background-image': 'url(' + bannerUrl + ')'}" > -->
        <div class="bground">
        <div class="overlay"></div>
        <div class="position-relative overflow-hidden p-3 p-md-12 m-md-12 text-left bg-transparent">
          <div class="col-md-12 p-lg-12 my-12 pull-left">
            <div class="container">
              <span class="name">
              <h1 class="display-4 font-weight-normal">A B O U T</h1>
              <p class="lead font-weight-normal"> </p>
              <h1 class="display-4 font-weight-normal">U S</h1>
              </span>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="container">
    <div class="spacing1">
        <div class="p-3 mb-5 bg-white" style="justify-content: center;" [innerHTML]="aboutDesc">
        </div>
    </div>
    </div>
  </div>
</div>