<div class="container-fluid">
  <div class="row">
      <div class="contact">
          <div class="container-contact">
            <div class="container">
              <div class="row">
                <div class="col-sm-6"><img src="../../../assets/frontend/img/contact-us.png" alt="" width="350px"></div>
                  <div class="col-sm-6 justify-content-center">
                    <h2>Contact us!</h2>
                      <div class="card-body">
                        <form [formGroup]="contactForm" (ngSubmit)="createContact()">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input  type="text" 
                                  class="form-control" 
                                  id="name" 
                                  placeholder="Fill your full name here.."
                                  formControlName="full_name"
                                  [class.is-invalid]="full_name.invalid && full_name.touched"/>
                          <div *ngIf="full_name.invalid && full_name.touched">
                            <small *ngIf="full_name.errors?.required" class="text-danger">Name Required</small>
                          </div>     
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input  type="email" 
                                  class="form-control" 
                                  id="email" 
                                  placeholder="Fill your email here.."
                                  formControlName="email"
                                  [class.is-invalid]="email.invalid && email.touched"/> 
                          <div *ngIf="email.invalid && email.touched">
                            <small *ngIf="email.errors?.required" class="text-danger">Email Required</small>
                          </div>   
                        </div>
                        <div class="form-group">
                          <label for="message">Message</label>
                          <textarea type="text" 
                                  class="form-control" 
                                  id="message" 
                                  style="height: 100px;" 
                                  placeholder="Fill your message here.."
                                  formControlName="message"
                                  [class.is-invalid]="message.invalid && message.touched"></textarea>
                          <div *ngIf="message.invalid && message.touched">
                            <small *ngIf="message.errors?.required" class="text-danger">Message Required</small>
                          </div>    
                        </div>
                        <button type="submit" 
                                class="btn btn-icon icon-right btn-primary"
                                [disabled]="!contactForm.valid">
                        <i class="far fa-paper-plane"></i> Send</button>
                        &nbsp;
                        </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>